{{- /*
  Generic callout shortcode mirroring Quarto's `::: {.callout-<type>}` divs.

  Usage:
    {{< callout type="note" >}}
    body markdown
    {{< /callout >}}

    {{< callout type="tip" title="Answer key" collapse="true" >}}…{{< /callout >}}
    {{< callout type="warning" title="Klausur" icon="false" >}}…{{< /callout >}}
*/ -}}
{{- $type     := .Get "type" | default "note" -}}
{{- $title    := .Get "title" -}}
{{- $collapse := eq (.Get "collapse") "true" -}}
{{- $icon     := ne (.Get "icon") "false" -}}
{{- $body     := .Inner | .Page.RenderString -}}

<div class="callout callout-{{ $type }}{{ if $icon }} has-icon{{ end }}">
{{- if $title -}}
  {{- if $collapse -}}
    <details class="callout-collapsible">
      <summary class="callout-title">{{ $title | safeHTML }}</summary>
      <div class="callout-body">{{ $body }}</div>
    </details>
  {{- else -}}
    <div class="callout-title">{{ $title | safeHTML }}</div>
    <div class="callout-body">{{ $body }}</div>
  {{- end -}}
{{- else -}}
  <div class="callout-body">{{ $body }}</div>
{{- end -}}
</div>
